{% if section.settings.show_announcement-bar %}
<div class="announcement">
  <div class="announcement__wrapper">
    <div class="announcement__link">
      <div class="announcement__text">
					<span class="mobile-hide">
						{{ section.settings.desktop_text }}
					</span>
        <span class="desktop-hide">
						{{ section.settings.mobile_text }}
					</span>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "settings": [
    {
    "type": "checkbox",
    "id": "show_announcement-bar",
    "label": "Show Announcement bar",
    "default": true
    },
    {
    "type": "richtext",
    "id": "desktop_text",
    "label": "Announcement bar desktop text",
    "default": "<p>Free shipping on all orders.* Qualifying purchases only for an unlimited time FPO</p>"
    },
    {
    "type": "richtext",
    "id": "mobile_text",
    "label": "Announcement bar mobile text",
    "default": "<p>Free shipping on all orders.*</p>"
    }
  ]
}
{% endschema %}
